
.research-proj {
    margin-left: 30px;
    width: 100%;
    display: table;

}

.nonRep {
    display:  none;
}


.research-thumb {
    width: 150px;
    float: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.research-thumb:hover {
    border-bottom: none;
}

.research-thumb img {
    width: 100%;
    border-radius: 5px;
}

.proj-title {
    line-height: 26px; 
    font-size: 16px; 
    color: #94130D; 
    margin-bottom:auto;}


.main-container {
    display: flex;
    align-items: center;
  }
  
.image-description-container {
    display: flex;
    align-items: center;
  }

.image-container{
    max-width:100%;

}
  
.image {
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
  }
  
.description {
    margin-left: 20px;
    max-height: 250px;
    overflow: auto;
  }
  
.link {
    color: #377dff;
    /* text-decoration: underline; */
    margin-top: 3px;
  }




